<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head.ejs', {titulo: "Modificar" , style: "style.css" , estilo: "modificar.css" , sidebar: "sidebar.css" }) %>

<body class="hidden">
    <!-- SIDEBAR -->
    <%- include('../../partials/sidebar.ejs') %>
        <!-- CONTENT -->
        <section id="content">
            <!-- NAVBAR -->
            <%- include('../../partials/header.ejs', {form_action: "#" , hidden: 'hidden' }) %>
                <!-- MAIN -->
                <main>
                    <div class="head-title">
                        <div class="left">

                            <!--Aqui va  el titulo de lo que haya elegido-->

                        </div>
                        
                        <form id="tablas" action="/administrador/usuario/modificar/tabla" method="POST">
                            <span class="text">
                                <div class="input-field">
                                    <select name="tabla" class="btn-download" required
                                        id="cursoSelect">
                                        <option disabled selected>Selecciona Tabla</option>
                                            <option value="alumnos"> Alumnos </option>
                                            <option value="docentes"> Docentes</option>
                                            <option value="usuarios"> Usuarios</option>
                                            <option value="tutores"> Tutores</option>
                                            <option value="cursos"> Cursos</option>
                                            <option value="materias"> Materias</option>
                                    </select>
                                </div>
                            </span>

                        </form>

                        <form id="relaciones" action="/administrador/usuario/modificar/relacion" method="POST">
                            <span class="text">
                                <div class="input-field">
                                    <select name="relacion" class="btn-download" required
                                        id="divisionSelect">
                                        <option disabled selected>Selecciona Relacion</option>
                                            <option value="materias_cursos"> Curso y Materia</option>
                                            <option value="docentes_materias_cursos"> Docente y Materia_Curso</option>
                                            <option value="alumnos_cursos"> Alumno y Curso</option>
                                    </select>
                                </div>
                            </span>

                        </form>

                    </div>

                    <div class="table-data">
                        <div class="order">
                            <form action="#" method="POST">
                                <table id="example" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <% for(let index = 0; index < data.length; index++) { %>
                                                <th><%= data[index] %></th>
                                            <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i = 0; i < dataSelected.length; i++) { %>
                                            <tr>
                                                <% for(let j = 0; j < data.length; j++) { %>
                                                    <td>
                                                        <%= dataSelected[i][data[j]] %> 
                                                    </td>
                                                <% } %>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                
                                    <tfoot>
                                        <tr>
                                            <% for(let index = 0; index < data.length; index++) { %>
                                                <th><%= data[index] %></th>
                                            <% } %>
                                        </tr>
                                    </tfoot>
                                </table>
                                
                                <button type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </main>
        </section>
        <!-- Script de carga inicial -->
        <script src="/js/administrador_general/all_menues.js"></script>
        <!-- Script para mejorar la respuesta con "hide" -->
        <script src="/js/main_menues/bienvenida.js"></script>
        <!-- jQuery local -->
        <script src="/js/tablas/jquery-3.7.1.min.js"></script>
        <!-- Incluir DataTables local -->
        <script src="/js/tablas/datatables.js"></script>

        <!-- Inicializar DataTables -->
        <!--Detecta el cambio en el select y envía el formulario automáticamente-->

        <script src="/js/tablas/iniTable_detectSelect_modificar.js"></script>

</body>

</html>