<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {titulo: "Usuarios" , style: "style.css" , estilo: "usuario.css" ,
    sidebar: "sidebar.css" }) %>

    <body class="hidden">
        <!-- SIDEBAR -->
        <%- include('../partials/sidebar.ejs') %>
            <!-- CONTENT -->
            <section id="content">
                <!-- NAVBAR -->
                <%- include('../partials/header.ejs', {form_action: "#" , hidden:'hidden'}) %>
                    <!-- MAIN -->
                    <main>
                        <ul class="nav-links container">
                            <li class="upward"><a href="#" data-form="form1">Usuario</a></li>
                            <li class="center"><a href="#" data-form="form2">Docente</a></li>
                            <li class="forward"><a href="#" data-form="form3">Alumno</a></li>
                            <li class="upward"><a href="#" data-form="form4">Curso</a></li>
                            <li class="center"><a href="#" data-form="form5">Materias</a></li>
                        </ul>

                        <div class="container">
                            <!-- Formulario 1 -->
                            <form id="form1" class="form-content" style="display:none;" action="/administrador/usuario"
                                method="post">
                                <div class="form first">
                                    <div class="details personal">
                                        <span class="title">Crear Usuario</span>
                                        <div class="fields">
                                            <div class="input-field">
                                                <label for="nombre_usuario">Usuario</label>
                                                <input type="text" placeholder="Ingresa nombre de Usuario"
                                                    name="nombre_usuario"
                                                    value="<%= locals.old1 && old1.nombre_usuario ? old1.nombre_usuario : '' %>"
                                                    required>
                                            </div>
                                            <!--comentario para los errores-->
                                            <% if (locals.errors1 && locals.errors1.nombre_usuario) { %>
                                                <div style="color: red;">
                                                    <%= locals.errors1.nombre_usuario.msg %>
                                                </div>
                                                <% } %>

                                                    <div class="input-field">
                                                        <label for="password_usuario">Contraseña</label>
                                                        <input type="password" placeholder="Ingresa tu Contraseña"
                                                            name="password_usuario" required>
                                                    </div>

                                                    <div class="input-field">
                                                        <label for="password_usuario2">Confirma Contraseña</label>
                                                        <input type="password" placeholder="Repite tu Contraseña"
                                                            name="password_usuario2" required>
                                                    </div>

                                                    <!--comentario para los errores-->
                                                    <% if (locals.errors1 && locals.errors1.password_usuario2) { %>
                                                        <div style="color: red;">
                                                            <%= locals.errors1.password_usuario2.msg %>
                                                        </div>
                                                        <% } %>

                                                            <div class="input-field">
                                                                <label for="permisos">Rol</label>
                                                                <select name="permisos" required>
                                                                    <option disabled selected>Selecciona Rol de Usuario
                                                                    </option>
                                                                    <option>Administrador</option>
                                                                    <option>Preceptor</option>
                                                                    <option>Docente</option>
                                                                    <option>Director</option>
                                                                </select>
                                                            </div>
                                                            <div class="input-field">
                                                                <label for="dni_docente">DNI</label>
                                                                <input name="dni_docente" type="text"
                                                                    placeholder="34094325"
                                                                    value="<%= locals.old1 && old1.dni_docente ? old1.dni_docente : '' %>"
                                                                    required>
                                                            </div>

                                                            <!--comentario para los errores-->
                                                            <% if (locals.errors1 && locals.errors1.dni_docente) { %>
                                                                <div style="color: red;">
                                                                    <%= locals.errors1.dni_docente.msg %>
                                                                </div>
                                                                <% } %>

                                        </div>
                                    </div>
                                    <button class="nextBtn" type="submit">
                                        <span class="btnText">Enviar</span>
                                        <i class='bx bx-send'></i>
                                    </button>
                                </div>
                            </form>

                            <!-- Formulario 2 -->
                            <form id="form2" class="form-content" style="display:none;"
                                action="/administrador/usuario/docente" method="post">
                                <div class="form first">
                                    <div class="details personal">
                                        <span class="title">Registrar Docente</span>
                                        <div class="fields">
                                            <div class="input-field">
                                                <label for="apellido_docente">Apellido/s</label>
                                                <input name="apellido_docente" type="text"
                                                    placeholder="Ingresa tu/s apellido/s"
                                                    value="<%= locals.old2 && old2.apellido_docente ? old2.apellido_docente : '' %>"
                                                    required>
                                            </div>
                                            <div class="input-field">
                                                <label for="nombre_docente">Nombre/s</label>
                                                <input name="nombre_docente" type="text"
                                                    placeholder="Ingresa tu/s nombre/s"
                                                    value="<%= locals.old2 && old2.nombre_docente ? old2.nombre_docente : '' %>"
                                                    required>
                                            </div>
                                            <div class="input-field">
                                                <label for="fecha_nac_docente">Fecha de Nacimiento</label>
                                                <input name="fecha_nac_docente" type="date"
                                                    placeholder="Ingresa tu fecha de nacimiento"
                                                    value="<%= locals.old2 && old2.fecha_nac_docente ? old2.fecha_nac_docente : '' %>"
                                                    required>
                                            </div>
                                            <div class="input-field">
                                                <label for="email_docente">Email</label>
                                                <input name="email_docente" type="text" placeholder="algo@algo.com"
                                                    value="<%= locals.old2 && old2.email_docente ? old2.email_docente : '' %>"
                                                    required>
                                            </div>

                                            <!--comentario para los errores-->
                                            <% if (locals.errors2 && locals.errors2.email_docente) { %>
                                                <div style="color: red;">
                                                    <%= locals.errors2.email_docente.msg %>
                                                </div>
                                                <% } %>

                                                    <div class="input-field">
                                                        <label for="celular_docente">Celular</label>
                                                        <input name="celular_docente" type="text"
                                                            placeholder="3855234345"
                                                            value="<%= locals.old2 && old2.celular_docente ? old2.celular_docente : '' %>"
                                                            required>
                                                    </div>

                                                    <!--comentario para los errores-->
                                                    <% if (locals.errors2 && locals.errors2.celular_docente) { %>
                                                        <div style="color: red;">
                                                            <%= locals.errors2.celular_docente.msg %>
                                                        </div>
                                                        <% } %>


                                                            <div class="input-field">
                                                                <label for="nombre_cargo">Cargo</label>
                                                                <select name="nombre_cargo" required>
                                                                    <option disabled selected>Selecciona Cargo</option>
                                                                    <option value="tecnico">Técnico</option>
                                                                    <option value="director">Director</option>
                                                                    <option value="preceptor">Preceptor</option>
                                                                    <option value="docente">Docente</option>
                                                                </select>
                                                            </div>
                                                            <div class="input-field">
                                                                <label for="dni_docente">DNI</label>
                                                                <input name="dni_docente" type="text"
                                                                    placeholder="34094325"
                                                                    value="<%= locals.old2 && old2.dni_docente ? old2.dni_docente : '' %>"
                                                                    required>
                                                            </div>

                                                            <!--comentario para los errores-->
                                                            <% if (locals.errors2 && locals.errors2.dni_docente) { %>
                                                                <div style="color: red;">
                                                                    <%= locals.errors2.dni_docente.msg %>
                                                                </div>
                                                                <% } %>

                                                                    <div class="input-field">
                                                                        <label for="condicion">Situación</label>
                                                                        <select name="condicion" required>
                                                                            <option disabled selected>Selecciona
                                                                                Situación
                                                                            </option>
                                                                            <option>Titular</option>
                                                                            <option>Suplente</option>
                                                                            <option>Interino</option>
                                                                        </select>
                                                                    </div>
                                        </div>
                                    </div>
                                    <button class="nextBtn" type="submit">
                                        <span class="btnText">Enviar</span>
                                        <i class='bx bx-send'></i>
                                    </button>
                                </div>
                            </form>

                            <!-- Formulario 3 -->
                            <form id="form3" class="form-content" style="display:none;"
                                action="/administrador/usuario/alumno" method="post">
                                <div class="form first">
                                    <div class="details personal">
                                        <span class="title">Alumno</span>
                                        <div class="fields">
                                            <div class="input-field">
                                                <label for="apellido_alumno">Apellido/s</label>
                                                <input name="apellido_alumno" type="text"
                                                    placeholder="Ingresa tu/s apellido/s"
                                                    value="<%= locals.old3 && old3.apellido_alumno ? old3.apellido_alumno : '' %>"
                                                    required>
                                            </div>
                                            <div class="input-field">
                                                <label for="nombre_alumno">Nombre/s</label>
                                                <input name="nombre_alumno" type="text"
                                                    placeholder="Ingresa tu/s nombre/s"
                                                    value="<%= locals.old3 && old3.nombre_alumno ? old3.nombre_alumno : '' %>"
                                                    required>
                                            </div>
                                            <div class="input-field">
                                                <label for="fecha_nac_alumno">Fecha de Nacimiento</label>
                                                <input name="fecha_nac_alumno" type="date"
                                                    placeholder="Ingresa tu fecha de nacimiento"
                                                    value="<%= locals.old3 && old3.fecha_nac_alumno ? old3.fecha_nac_alumno : '' %>"
                                                    required>
                                            </div>
                                            <div class="input-field">
                                                <label for="email_alumno">Email</label>
                                                <input name="email_alumno" type="text" placeholder="algo@algo.com"
                                                    value="<%= locals.old3 && old3.email_alumno ? old3.email_alumno : '' %>"
                                                    required>
                                            </div>

                                            <!--comentario para los errores-->
                                            <% if (locals.errors3 && locals.errors3.email_alumno) { %>
                                                <div style="color: red;">
                                                    <%= locals.errors3.email_alumno.msg %>
                                                </div>
                                                <% } %>

                                                    <div class="input-field">
                                                        <label for="celular_alumno">Celular</label>
                                                        <input name="celular_alumno" type="text"
                                                            placeholder="3855234345"
                                                            value="<%= locals.old3 && old3.celular_alumno ? old3.celular_alumno : '' %>"
                                                            required>
                                                    </div>

                                                    <!--comentario para los errores-->
                                                    <% if (locals.errors3 && locals.errors3.celular_alumno) { %>
                                                        <div style="color: red;">
                                                            <%= locals.errors3.celular_alumno.msg %>
                                                        </div>
                                                        <% } %>


                                                            <div class="input-field">
                                                                <label for="direccion_alumno">Dirección/es</label>
                                                                <input name="direccion_alumno" type="text"
                                                                    placeholder="Ingresa tu/s dirección/nes"
                                                                    value="<%= locals.old3 && old3.direccion_alumno ? old3.direccion_alumno : '' %>"
                                                                    required>
                                                            </div>
                                                            <div class="input-field">
                                                                <label for="dni_alumno">DNI</label>
                                                                <input name="dni_alumno" type="text"
                                                                    placeholder="34094325"
                                                                    value="<%= locals.old3 && old3.dni_alumno ? old3.dni_alumno : '' %>"
                                                                    required>
                                                            </div>

                                                            <!--comentario para los errores-->
                                                            <% if (locals.errors3 && locals.errors3.dni_alumno) { %>
                                                                <div style="color: red;">
                                                                    <%= locals.errors3.dni_alumno.msg %>
                                                                </div>
                                                                <% } %>

                                                                    <div class="input-field">
                                                                        <label for="genero_alumno">Género</label>
                                                                        <select name="genero_alumno" required>
                                                                            <option disabled selected>Selecciona
                                                                                Situación
                                                                            </option>
                                                                            <option value="masculino">Masculino</option>
                                                                            <option value="femenino">Femenino</option>
                                                                            <option value="otros">Otros</option>
                                                                        </select>
                                                                    </div>
                                        </div>
                                    </div>
                                    <div class="details personal">
                                        <span class="title">Tutor</span>
                                        <div class="fields">
                                            <div class="input-field">
                                                <label for="apellido_tutor">Apellido/s</label>
                                                <input name="apellido_tutor" type="text"
                                                    placeholder="Ingresa tu/s apellido/s"
                                                    value="<%= locals.old3 && old3.apellido_tutor ? old3.apellido_tutor : '' %>">
                                            </div>
                                            <div class="input-field">
                                                <label for="nombre_tutor">Nombre/s</label>
                                                <input name="nombre_tutor" type="text"
                                                    placeholder="Ingresa tu/s nombre/s"
                                                    value="<%= locals.old3 && old3.nombre_tutor ? old3.nombre_tutor : '' %>">
                                            </div>
                                            <div class="input-field">
                                                <label for="email_tutor">Email</label>
                                                <input name="email_tutor" type="text" placeholder="algo@algo.com"
                                                    value="<%= locals.old3 && old3.email_tutor ? old3.email_tutor : '' %>">
                                            </div>

                                            <!--comentario para los errores-->
                                            <% if (locals.errors3 && locals.errors3.email_tutor) { %>
                                                <div style="color: red;">
                                                    <%= locals.errors3.email_tutor.msg %>
                                                </div>
                                                <% } %>

                                                    <div class="input-field">
                                                        <label for="celular_tutor">Celular</label>
                                                        <input name="celular_tutor" type="text" placeholder="3855234345"
                                                            value="<%= locals.old3 && old3.celular_tutor ? old3.celular_tutor : '' %>">
                                                    </div>

                                                    <!--comentario para los errores-->
                                                    <% if (locals.errors3 && locals.errors3.celular_tutor) { %>
                                                        <div style="color: red;">
                                                            <%= locals.errors3.celular_tutor.msg %>
                                                        </div>
                                                        <% } %>


                                                            <div class="input-field">
                                                                <label for="direccion_tutor">Dirección/es</label>
                                                                <input name="direccion_tutor" type="text"
                                                                    placeholder="Ingresa tu/s dirección/nes"
                                                                    value="<%= locals.old3 && old3.direccion_tutor ? old3.direccion_tutor : '' %>">
                                                            </div>
                                                            <div class="input-field">
                                                                <label for="dni_tutor">DNI</label>
                                                                <input name="dni_tutor" type="text"
                                                                    placeholder="34094325"
                                                                    value="<%= locals.old3 && old3.dni_tutor ? old3.dni_tutor : '' %>">
                                                            </div>

                                                            <!--comentario para los errores-->
                                                            <% if (locals.errors3 && locals.errors3.dni_tutor) { %>
                                                                <div style="color: red;">
                                                                    <%= locals.errors3.dni_tutor.msg %>
                                                                </div>
                                                                <% } %>
                                        </div>
                                    </div>
                                    <button class="nextBtn" type="submit">
                                        <span class="btnText">Enviar</span>
                                        <i class='bx bx-send'></i>
                                    </button>
                                </div>
                            </form>


                        </div>
                    </main>
            </section>
            <!-- Script de carga inicial -->
            <script src="/js/administrador_general/all_menues.js"></script>
            <!-- Script para mejorar la respuesta con "hide" -->
            <script src="/js/main_menues/usuario.js"></script>
    </body>

</html>